:root{--cor-padrao: #FFF;
      --hover-html:#FFA500;
      --hover-css:#1E90FF;
      --hover-git:#000;
      --hover-menu:#008B8B;
      --background:#03353e;
      --gradiente-azul: #0294a5;
      --gradiente-verde:#00ff7f;
      --background-header:#04060f;
      --background-dev-em-dobro: #663399;
      --background-one-bit-code: #2F4F4F;
      --background-senai: #5F9EA0;
}